// Header
// -------------------------------------------------------------------
.ly_header {
  $wrp: '.ly_header';
  background-color: #aaa;

  &_inner{
    @include centering();
    text-align: center;
  }
}


// Body
// -------------------------------------------------------------------
.ly_body {
  @include centering();
}


// Footer
// -------------------------------------------------------------------
.ly_footer {
  $wrp: '.ly_footer';
  background-color: #aaa;

  &_inner{
    @include centering();
    text-align: center;
  }
}
