<i class="ly_pageTop js_pageTop">
  <a href="#"><img src="{{ vars.assets_root }}/img/common/icon-pagetop.svg" alt=""></a>
</i>

<footer class="ly_footer">
  <div class="ly_footer_inner">
    footer here
  </div>
  <!-- /.ly_footer_inner -->
</footer>
{%- if unique_footer %}
  {{ unique_footer|safe }}
{%- endif %}
</body>
</html>
