<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page_meta.description }}">
  <title>{{ page_meta.title }}</title>
  <link rel="stylesheet" href="{{ vars.assets_root }}/css/style.css">
  {%- if unique_head %}
    {{ unique_head|safe }}
  {%- endif %}
</head>
<body>
