{# ==========================================================================
  Layouts
  ========================================================================== #}
{%- macro ly_body(data) %}
  <div class="ly_body">
    {{ caller() }}
  </div>
  <!-- /.ly_body -->
{%- endmacro %}


{# ==========================================================================
  Elements
  ========================================================================== #}

{# Titles
  ========================================================================== #}
{%- macro el_pageTtl(data) %}
  <h2 class="el_pageTtl">{{ data.ttl }}</h2>
{%- endmacro %}

{# Buttons
  ========================================================================== #}
{%- macro el_btn(data) %}
  <a href="{{ data.url }}" class="el_btn {{ data.ex_class }}">{{ data.ttl }}</a>
{%- endmacro %}


{# ==========================================================================
  Blocks
  ========================================================================== #}
{%- macro bl_card(data) %}
  <div class="bl_card">
    <img src="{{ data.img }}" alt="{{ data.ttl }}">
    <p>
      {{ data.ttl }}
    </p>
  </div>
  <!-- /.bl_card -->
{%- endmacro %}


{# ==========================================================================
  Grids
  ========================================================================== #}
{%- macro gr_wrapper(data) %}
  <div class="gr_wrapper {{ data.ex_class }}">
    {{ caller() }}
  </div>
  <!-- /.gr_wrapper -->
{%- endmacro %}

{%- macro gr_col(data) %}
  <div class="gr_col">
    {{ caller() }}
  </div>
  <!-- /.gr_col -->
{%- endmacro %}


