{%- import './_inc/_vars.njk' as vars %}
{%- import './_inc/_macros.njk' as macros %}

{%- set page_meta = {
  title: 'About',
  description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
} %}

{%- include './_inc/_head.njk' %}
{%- include './_inc/_header.njk' %}

{%- call macros.ly_body(ly_body_data) %}

  {%- set el_pageTtl_data = {
    ttl: 'Grids'
  } %}
  {{ macros.el_pageTtl(el_pageTtl_data) }}

  {%- set gr_wrapper_data = {
    ex_class: 'gr_wrapper__col3 gr_wrapper__mdCol4 gr_wrapper__smCol2'
  } %}
  {%- call macros.gr_wrapper(gr_wrapper_data) %}

    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}

  {%- endcall %}
  {# gr_wrapper #}

  <p class="hp_tac">
    {%- set el_btn_data = {
      ttl: 'Click me',
      url: '#'
    } %}
    {{ macros.el_btn(el_btn_data) }}

    {%- set el_btn_data = {
      ttl: 'Click me',
      url: '#',
      ex_class: 'el_btn__red'
    } %}
    {{ macros.el_btn(el_btn_data) }}
  </p>

{%- endcall %}
{# ly_body #}

{%- include './_inc/_footer.njk' %}
