{%- import './_inc/_vars.njk' as vars %}
{%- import './_inc/_macros.njk' as macros %}

{%- set page_meta = {
  title: 'About',
  description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
} %}

{%- include './_inc/_head.njk' %}
{%- include './_inc/_header.njk' %}

{%- call macros.ly_body() %}
  <p class="hp_tac">about</p>
{%- endcall %}
{# ly_body #}

{%- include './_inc/_footer.njk' %}
