{%- import './_inc/_vars.njk' as vars %}
{%- import './_inc/_macros.njk' as macros %}

{%- set page_meta = {
  title: 'Home',
  description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
} %}

{%- include './_inc/_head.njk' %}
{%- include './_inc/_header.njk' %}

{%- call macros.ly_body(ly_body_data) %}

  {%- set el_pageTtl_data = {
    ttl: 'Mixin Grid'
  } %}
  {{ macros.el_pageTtl(el_pageTtl_data) }}

やることは、これだけ。
<pre style="padding: 10px; margin: 20px 0; background-color: #efefef; font-size: 14px;">
  .bl_cardUnit {
    @include makeChildColum(
      $lc: 5,                //PCビュー時のカラム数
      $lh: 40,               //PCビュー時の水平ガター
      $lv: 50,               //PCビュー時の垂直ガター
      $mc: 3,                //タブレットビュー時のカラム数
      $mh: 30,               //タブレットビュー時の水平ガター
      $mv: 40,               //タブレットビュー時の垂直ガター
      $sc: 2,                //SPビュー時のカラム数
      $sh: 10,               //SPビュー時の水平ガター
      $sv: 40,               //SPビュー時の垂直ガター
      $childElm: '.bl_card'  //カラムを形成したい子要素の指定
    );
  }
</pre>

  <div class="bl_cardUnit">
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
    <div class="bl_card">
      <img src="http://placehold.jp/400x300.png?text=image" alt="Anything can come here">
      <p>
        Anything can come here
      </p>
    </div>
    <!-- /.bl_card -->
  </div>
  <!-- /.bl_cardUnit -->





<br><br><br><br><br><br><br>








  {%- set el_pageTtl_data = {
    ttl: 'Strict Grid'
  } %}
  {{ macros.el_pageTtl(el_pageTtl_data) }}

  <!--
    How to use Grids System

    ## Initialze
    First, add 'gr_wrapper' class to wrapper.

    ## Choose Column Number
    This number depends on $maxColNum.

    * gr_wrapper__col2
    * gr_wrapper__col3
    * gr_wrapper__col4 ...

    ## Adjust gutter if you like
    you can also adjust modifier names and gutter values.

    * gr_wrapper__xNarrow
    * gr_wrapper__narrow
    * gr_wrapper__wide
    * gr_wrapper__xWide

    ## Choose Column Number in media-queries
    Columns will be one by default in $breakpoint-sm.
    This number depends on $maxColNum too.
    * gr_wrapper__mdCol2
    * gr_wrapper__mdCol3
    * gr_wrapper__smCol2
    * gr_wrapper__smCol3 ...
    * gr_wrapper__xWide

    ## Choose layout style
    The default is depends on layoutStyle, but you can always choose other one with modifier.
    * gr_wrapper__float
    * gr_wrapper__inlineTable
    * gr_wrapper__inlineBlock
    * gr_wrapper__flex

    ## That's it!
    This is the one ↓
  -->
  {%- set gr_wrapper_data = {
    ex_class: 'gr_wrapper__col5 gr_wrapper__narrow gr_wrapper__mdCol3 gr_wrapper__smCol2'
  } %}
  {%- call macros.gr_wrapper(gr_wrapper_data) %}

    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
    {%- call macros.gr_col(gr_col_data) %}
      {%- set bl_card_data = {
        ttl: 'Anything can come in .gr_col',
        img: 'http://placehold.jp/400x300.png?text=image'
      } %}
      {{ macros.bl_card(bl_card_data) }}
    {%- endcall %}
  {%- endcall %}
  {# gr_wrapper #}


  <p class="hp_tac">
    {%- set el_btn_data = {
      ttl: 'Click me',
      url: '#'
    } %}
    {{ macros.el_btn(el_btn_data) }}

    {%- set el_btn_data = {
      ttl: 'Click me',
      url: '#',
      ex_class: 'el_btn__red'
    } %}
    {{ macros.el_btn(el_btn_data) }}
  </p>

{%- endcall %}
{# ly_body #}

{%- include './_inc/_footer.njk' %}
